.App {
  text-align: center;

  & section {
    display: flex;
    flex-direction: row;
  }

  & h1 {
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
  }

  & .Folders {
    width: 400px;
    height: 300px;
  }
}
