.ColorDisplay {
  
  // border-top: 1px solid black;
  margin-top: -70px;

  & .colors {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .colorBlock {
      width: 20%;
      height: 50vh;
  
      & .color {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .hexCode {
          opacity: 0.2;
          font-family: 'Open Sans', sans-serif;
          color: black;
          font-size: 24px;
          text-transform: uppercase;
        }
      }
    }
  }


  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 30px 30px 30px;;

    & button {
      margin: 10px;
      height: 40px;
      width: 125px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      text-transform: lowercase;
      font-size: 15px;
    }
  }

  & .lock {
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 65px;
    margin-bottom: 20px;

  }

  
}
.ReactModal {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lockedText {
  color: black;
  background-color: white;
  opacity: 0.5;
  border-radius: 8px;
  font-size: 14px;
  text-transform: lowercase;
  padding: 6px;
  height: 30px;
  width: 100px;
  margin-top: 27px;
}

.random-button {
  animation: wiggle 8s linear 3;
}


@keyframes wiggle {
  0%, 5% {
    transform: rotateZ(0)
  }
  7% {
    transform: rotateZ(-10deg);
  }

  9% {
    transform: rotateZ(10deg);
  }

  11% {
    transform: rotateZ(0deg);
  }

  13% {
    transform: rotateZ(-10deg);
  }

  15% {
    transform: rotateZ(10deg);
  }

  17% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(0)
  }
}
