.Palettes {

  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    width: 100%;
    height: 28vh;
    padding: 20px 50px 20px 50px;
    min-height: 200px;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    
    // -webkit-column-count: 2;
    // -moz-column-count: 2;
    //      column-count: 2;
  
    & li {
      list-style-type: none;
      cursor: pointer;
      margin: 15px;
      font-family: "Open Sans", sans-serif;
    }
  }
}
